@model List<QuanLyThongTinTuyenTruyen.Models.LichSu>
@using QuanLyThongTinTuyenTruyen.Models;
@{
    Layout = null;
    int index = 1;
    var TrangThai = new List<TrangThai> {
                new TrangThai(0,"Chưa phát"),
                new TrangThai(2,"Đã phát")
            };
    TrangThai FindTrangThai(int id = 0)
    {
        return TrangThai.Where(x => x.Id == id).FirstOrDefault();
    }
}
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th> Ngày phát </th>
            <th> Lần phát</th>
            <th> Trạng thái </th>
            <th style="width:200px; min-width:100px;"> &nbsp; </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@index</td>
                <td>@item.NgayPhat.ToShortDateString()</td>
                <td>@item.SoLanPhat</td>
                <td>@FindTrangThai(item.TrangThai).Name</td>
                <td class="align-middle text-right">
                    @{
                        var uEdit = Url.Action("AddOrUpdate", "LichSu") + "/" + item.LichSuId;
                        var urlEdit = @"Popup('" + uEdit + "')";
                        var uDelete = Url.Action("Delete", "LichSu") + "/" + item.LichSuId;
                        var urluDelete = @"Delete('" + uDelete + "')";

                        index++;
                    }
                    <a href="#" onclick="@urlEdit" class="btn btn-sm btn-icon btn-secondary"><i class="fa fa-pencil-alt"></i> <span class="sr-only">Sửa</span></a>
                    <a href="#" onclick="@urluDelete" class="btn btn-sm btn-icon btn-secondary"><i class="far fa-trash-alt"></i> <span class="sr-only">Xóa</span></a>
                </td>
            </tr>
        }
    </tbody>
</table>